#logo{

}
#body{
  background-color: #ebeff5;
}
#total-orders{
  background-color: #4cb3c7;

}
#orders-delivered{
  background-color: #7abecc;
}
#orders-pending{
  background-color: #7CD1C0;
}

.navbar{
  background-color: maroon; 
  height: 80px;
  
}
.navbar-text,
.navbar-brand{
   color: white;
   font-family: 'Poppins';font-size: 35px;
}

.tab {
   display: inline-block;
   margin-left: 10px;
}

.nav-link{
   transition: all 0.2;
   color: white;
   font-family: 'Poppins';font-size: 20px;
}
.nav-link:hover{
border-bottom: 1px solid yellow;
color: yellow;
font-family: 'Poppins';font-size: 20px;
}

.nav-link::after{
content: '';
opacity: 0;
transition: all 0.2;
width: 100%;
background-color: yellow;
bottom: 0;
left: 0;
}

.nav-link:hover::after{
opacity: 1;
}

.navbar-nav .active {
   color: yellow !important;

}